<a href="https://colab.research.google.com/github/NatashaSikinyi/MTN-infrastructure-tech-upgrade/blob/main/Moringa_Data_Science_Prep_W3_Independent_Project_2022_04_Natasha_Sikinyi_Python_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# importing pandas
import pandas as pd

#importing numpy
import numpy as np

In [ ]:
# load cells

url='https://drive.google.com/field/d/1-rIM5ihDu79RaH7rAs-d-7SQSAQhrY9N/view'
url='https://drive.google.com/uc?id=' + url.split('/')[-2]
cells_geo_description = pd.read_excel(url)

cells_geo_description

     Column name                                        Description  Format
0         VILLES                                               City  String
1         STATUS                                  In Service or not  String
2   LOCALISATION                                  in ABIDJAN or not  String
3     DECOUPZONE                                  Geographical Zone  String
4       ZONENAME                                       Name of Zone  String
5      LONGITUDE                                          Longitude   Float
6       LATITUDE                                           Latitude   Float
7         REGION                                             Region  String
8           AREA                                               Area  String
9        CELL_ID                                     ID of the cell  String
10     SITE_CODE  Site (there are several cells per site, severa...  String

In [ ]:
#load cells_geo

cells_geo = pd.read_cvs('/content/cells_geo.csv',delimiter=';', header =1, nanes = ['INDEX','VILES','STATUS','LOCATION'])

cells_geo

AttributeError: ignored

In [ ]:
url='https://docs.google.com/spreadsheets/d/1cVoNXl25IO5-_yQk97ThdeqhE6yw8YTD/edit?usp=sharing&ouid=112745655972587474462&rtpof=true&sd=true'
url='https://drive.google.com/uc?id=' +url.split('/')[-2]
CDR_description = pd.read_excel(url)

CDR_description

       Column name                                        Description   Format
0          PRODUCT                                       Voice or SMS   String
1            VALUE                                      Billing price  Integer
2        DATE_TIME               Time in format yyyy-MM-dd hh:mm:ss.0   String
3     CELL_ON_SITE  Which cell in the site was used (not needed here)  Integer
4  DW_A_NUMBER_INT  Anonymized phone number of the person for whic...   String
5  DW_B_NUMBER_INT        Anonymized phone number of the counterparty   String
6        COUNTRY_A                  Country of party A (useless here)   String
7        COUNTRY_B                  Country of party B (useless here)   String
8          CELL_ID                                     ID of the cell   String
9          SITE_ID                                     ID of the SITE   String

In [ ]:
#load telecom dataset

t_df = pd.read_cvs('/content/Telcom_dataset.csv')

#rename columns to be uniform

t_df = t_df.rename(columns = {'PRODUCTC':'PRODUCT','DW_A_NUMBER_INT':'DW_A_NUMBER','DW_B_NUMBER_INT':'DW_B_NUMBER'})

t_df

AttributeError: ignored

In [ ]:
#load telecom dataset 2

t_df2 = pd.read_cvs('/content/Telcom_dataset2.csv')

t_df2

AttributeError: ignored

In [ ]:
#load telecom dataset 3

t_df3 = pd.read_cvs('/content/Telcom_dataset3.csv')

#rename columns to be uniform

t_df3 = tdf3.rename(columns = {'DW_A_NUMBER_INT':'DW_A_NUMBER','DW_B_NUMBER_INT':'DW_B_NUMBER','CELLID':'CELL_ID'})

AttributeError: ignored

In [ ]:
#checking for missing values

print(cells_geo.isnull().sum())
print('')

cells_geo.describe()

NameError: ignored

In [ ]:
#check for missing data

print(t_df.isnull().sum())
print('')

t_df.info()
print('')

t_df.describe()

In [ ]:
print(t_df2.isnull().sum())
print('')

t_df2.info()
print('')

t_df2.describe()

In [ ]:
print(t_df3.isnull().sum())
print('')

t_df3.info()
print('')

t_df3.describe()

In [ ]:
#concatenate the 3 datasets to 1

t_df_combo = pd.concat([t_df,t_df2,t_df3, axis = 0])

t_df_combo.info()

In [ ]:
#change DATE_TIME datatype from object to datetime datatype

t_df_combo['DATE_TIME'] = pd.to_datetime(t_df_combo['DATE_TIME'])
t_df_combo.info

In [ ]:
#drop column not required

t_df_combo = t_df_combo.drop(['COUNTRY_A','COUNTRY_B'], axis = 1)
t_df_combo.head()

In [ ]:
#drop duplicates

t_df_combo = t_df_combo.drop_duplicates()
t_df_combo

In [ ]:
#fill missing values on site
t_df_combo["SITE_ID"] = t_df_combo['SITE_ID'].fillna('None')

In [ ]:
#check for change in data

print(t_df_combo['SITE_ID'].value_counts())
print('')

In [ ]:
# Drop columns not required in cells_geo

cells_geo1 = cells_geo.drop(['INDEX','CELL_ID'], axis = 1)
cells_geo1

In [ ]:
# Drop duplicates for cells_geo1

cells_geo1 = cells_geo1.drop_duplicates()
cells_geo1

In [ ]:
# Fill in missing values

cells_geo1['STATUS'] = cells_geo1['STATUS'].fillna('None')

cells_geo1['ZONENAME'] = cells_geo1['ZONENAME'].fillna('None')

cells_geo1['AREA'] = cells_geo1['AREA'].fillna('None')

In [ ]:
# Merge t_df_combo and cell_geo1

data = pd.merge(t_df_combo,cells_geo1, how = 'inner', on = 'SITE_ID')
data

In [ ]:
# Data Analysis
# Most used city for the three days

users_per_city = pd.DataFrame(data.groupby('VILES')['DW_A_NUMBER'].count().nlargest(50))
users_per_city

In [ ]:
# city with highest income
income_per_city = pd.DataFrame(data.groupby('VILES')['VALUE'].sum().nlargest(50))
income_per_city

In [ ]:
# which products were the most used

t_df_combo.groupby('PRODUCT')['DW_B_NUMBER'].count().plot.bar()

In [ ]:
# cities with lowest number of cells_ID on site

print(data.groupby('VILES')['DW_B_NUMBER'].count().nsmallest(5))